Let's create some links:
<br />
<a href="{{ path('create', { 'name': 'name' }) }}">Create a new user </a>
<br />
<a href="{{ path('delete', { 'id': 1 }) }}">Delete an user </a>
<br />
<a href="{{ path('show') }}">Show all users ordered by name </a>
<br />
